/* color palette:
navy: #22333B 
light blue: #6492A6
light gray: #F2F4F3
dark brown: #5E503F
light brown: #A9927D

fonts: 
archivo: font-family: 'Archivo', sans-serif;
montserrat: font-family: 'Montserrat', sans-serif;
*/

@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;600&family=Montserrat:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

/* header */

header {
  border: solid 2px red;
  min-height: 100px;
}

.nav__top {
  display: flex;
  width: 100%;
  background-color: #22333b;
  color: #f2f4f3;
  flex-direction: row-reverse;
}

.nav__top--menu {
  font-family: "Montserrat", sans-serif;
  font-size: 0.7rem;
  color: #f2f4f3;
  padding: 2px 0;
}

.nav__top--menu a {
  font-family: "Montserrat", sans-serif;
  font-size: 0.7rem;
  color: #f2f4f3;
  text-decoration: none;
}

.nav__top--menu li {
  display: inline-block;
  padding: 0 10px;
}

.logo__test {
  width: 20%;
  border: solid 1px purple;
}

.nav__main {
  display: flex;
  width: 100%;
  background-color: #ffffff;
  border: solid 1px aqua;
}

.nav__main--logo-menu {
  width: 50%;
  justify-content: flex-start;
  display: flex;
  border: solid 1px green;
}

.nav__main--logo img {
  width: 100%;
}

.nav__main--logo {
  width: 20%;
  border: solid 1px salmon;
}

.menu {
  width: 100%;
  border: solid 1px fuchsia;
  justify-content: center;
  align-self: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  color: #f2f4f3;
  margin-left: 10px;
}

.menu a {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  color: #22333b;
  text-decoration: none;
}

.menu li {
  display: inline-block;
  padding: 0 10px;
}

.nav__main--user {
  width: 50%;
  justify-content: flex-end;
  display: flex;
}

.nav__main--user__searchbox {
  align-self: center;
}

.nav__main--user__searchbox input[type="text"] {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  padding: 5px;
  margin-right: 10px;
}

.nav__main--user__icons {
  font-size: 2rem;
  color: #22333b;
  align-self: center;
}

.nav__main--user__icons li {
  display: inline-block;
  padding: 0 10px;
}

/* .search-button {
  padding: 5px 15px;
  background-color: #22333b;
}

.fa-search {
  font-size: 1.5rem;
} */

/* main grid */

main {
  display: grid;
  grid-template-areas:
    "hero-banner hero-banner hero-banner hero-banner"
    "jackets jackets jackets jackets"
    "bestsellers bestsellers bestsellers bestsellers"
    "newcomers__heading newcomers__heading newcomers__heading newcomers__heading"
    "newcomers newcomers newcomers newcomers";
  background-color: #ffffff;
  height: 100%;
  grid-row-gap: 0.5rem;
}

/* main flexbox */

.hero-banner {
  grid-area: hero-banner;
  background-image: url("../img/hero-banner@2x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 450px;
  display: flex;
  background-color: skyblue;
  justify-content: flex-end;
}

.hero-banner--text {
  margin-top: 25px;
}

.jackets {
  grid-area: jackets;
  display: flex;
  justify-content: space-between;
}

.jackets--mens {
  width: 33%;
}

.jackets--womens {
  width: 33%;
}

.jackets--kids {
  width: 33%;
}

.jackets__button {
  width: 100%;
  background-color: #22333b;
  padding: 15px 25px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.15rem;
  color: #f2f4f3;
  text-transform: uppercase;
  border: none;
}

.bestsellers {
  grid-area: bestsellers;
  display: flex;
  justify-content: space-between;
  height: 690px;
}

.bestsellers--mens {
  background-image: url("../img/men@2x.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-items: flex-end;
  justify-content: center;
  width: 33%;
  background-color: thistle;
}

.bestsellers--womens {
  background-image: url("../img/woman@2x.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-items: flex-end;
  justify-content: center;
  width: 33%;
  background-color: cadetblue;
}

.bestsellers--kids {
  background-image: url("../img/kids@2x.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 33%;
  display: flex;
  justify-items: flex-end;
  justify-content: center;
  background-color: coral;
}

.bestsellers__button {
  width: 60%;
  align-self: flex-end;
  padding: 15px 0;
  margin-bottom: 25px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 0.8rem;
  text-transform: uppercase;
  color: #22333b;
  background-color: #f2f4f3;
  border: none;
}

.newcomers__heading {
  grid-area: newcomers__heading;
  display: flex;
  width: 100%;
}

.newcomers__heading--h1 {
  width: 100%;
  background-color: #a9927d;
}

h1 {
  color: #f2f4f3;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  padding: 15px;
}

.newcomers {
  grid-area: newcomers;
  display: flex;
}

.newcomers--men {
  width: 25%;
}

.newcomers--men__img {
  width: 100%;
}

.newcomers--women {
  width: 25%;
}

.newcomers--women__img {
  width: 100%;
}

.newcomers--mini {
  width: 25%;
}

.newcomers--mini__img {
  width: 100%;
}

.newcomers--junior {
  width: 25%;
}

.newcomers--junior__img {
  width: 100%;
}

/* footer */

footer {
  grid-area: footer;
  height: 100px;
  border: solid 1px brown;
}

.desktop-nav {
  display: block;
}

.mobile-nav {
  display: none;
}

/* media queries */
@media only screen and (max-width: 767px) {
  .desktop-nav {
    display: none;
  }

  .mobile-nav {
    display: block;
  }
}
